In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Path of the CSV file
csvfile = "winemag-data-130k-v2.csv"

In [3]:
# Read CSV file into a pandas DataFrame
df = pd.read_csv(csvfile, dtype=object)

In [4]:
df.isnull().any()

id                       False
country                   True
description              False
designation               True
points                   False
price                     True
province                  True
region_1                  True
region_2                  True
taster_name               True
taster_twitter_handle     True
title                    False
variety                   True
winery                   False
dtype: bool

In [5]:
df.shape

(129971, 14)

In [6]:
columns_to_review = list(df.columns)
columns_to_review

['id',
 'country',
 'description',
 'designation',
 'points',
 'price',
 'province',
 'region_1',
 'region_2',
 'taster_name',
 'taster_twitter_handle',
 'title',
 'variety',
 'winery']

In [7]:
df[df.duplicated()].shape[0]

0

In [8]:
df.head()

,id,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [9]:
unique_variety = df.variety.value_counts()
unique_df = pd.DataFrame({"count":unique_variety.loc[unique_variety > 1000]})
unique_df.reset_index(inplace = True)
unique_df = unique_df.rename(columns={"index":"variety"})

In [15]:
unique_country = df.country.value_counts()
unique_count_df = pd.DataFrame({"count":unique_country.loc[unique_country > 1000]})
unique_count_df.reset_index(inplace = True)
unique_count_df = unique_count_df.rename(columns={"index":"country"})
unique_count_df

         country  count
0             US  54504
1         France  22093
2          Italy  19540
3          Spain   6645
4       Portugal   5691
5          Chile   4472
6      Argentina   3800
7        Austria   3345
8      Australia   2329
9        Germany   2165
10   New Zealand   1419
11  South Africa   1401

In [17]:
unique_winery = df.winery.value_counts()
unique_winery_df = pd.DataFrame({"count":unique_winery.loc[unique_winery> 100]})
unique_winery_df.reset_index(inplace = True)
unique_winery_df = unique_winery_df.rename(columns={"index":"winery"})
unique_winery_df

                        winery  count
0           Wines & Winemakers    222
1                   Testarossa    218
2                   DFJ Vinhos    215
3              Williams Selyem    211
4                 Louis Latour    199
5              Georges Duboeuf    196
6        Chateau Ste. Michelle    194
7                Concha y Toro    164
8               Columbia Crest    159
9              Kendall-Jackson    130
10                      Siduri    126
11                Gary Farrell    125
12                      Lynmar    118
13                      Montes    117
14               Albert Bichot    117
15  Jean-Luc and Paul Aegerter    113
16            Casa Santos Lima    113
17                    Trapiche    113
18                   Undurraga    113
19              Robert Mondavi    112
20                   Santa Ema    112
21        Chanson Père et Fils    109
22                 Fess Parker    108
23                   V. Sattui    107
24                  Iron Horse    106
25                       Foxen    105
26                 Louis Jadot    104
27                    Maryhill    102
28                    Chehalem    102
29       Feudi di San Gregorio    102
30                       Kunde    101
31                 Bründlmayer    101
32      Domaine Zind-Humbrecht    101

In [21]:
# this dataframe has only varieties that have more than 1000 records in the original dataframe

result_country = pd.merge(df, unique_count_df, on='country')
result_winery = pd.merge(df, unique_winery_df, on='winery')
result_variety = pd.merge(df, unique_df, on='variety')

In [22]:
count_colnames = ['description', 'country']
result_country.to_csv("filtered_wine_data_country.csv", columns=count_colnames)
winery_colnames = ['description', 'winery']
result_winery.to_csv("filtered_wine_data_winery.csv", columns=winery_colnames)
colnames = ['description', 'variety']
result_variety.to_csv("filtered_wine_data.csv", columns=colnames)

In [23]:
len(result_country)

127404

In [24]:
len(result_variety)

103322

In [25]:
len(result_winery)

4435